@font-face {
    font-family: 'Inter_Tight'; /* Name your font family */
    src: url('Fonts/Inter,Inter_Tight/Inter_Tight/InterTight-VariableFont_wght.ttf') format('truetype');
    font-weight: "normal";
    font-size:"14px" /* Locate the .ttf file within your directory*/
  }

@font-face {
    font-family: 'magicalnotes'; /* Name your font family */
    src: url('Fonts/magicalnotes/Magicalnotes.ttf') format('truetype');
    font-weight: "normal";
    font-size:"14px" /* Locate the .ttf file within your directory*/
  }

@font-face {
    font-family: 'Devant_Medium'; /* Name your font family */
    src: url('Fonts/Devant pro/Devant-Medium.ttf') format('truetype');
    font-weight: "normal";
    font-size:"14px" /* Locate the .ttf file within your directory*/
  }

  @font-face {
    font-family: 'Indie_F'; /* Name your font family */
    src: url('Fonts/Indie_Flower/IndieFlower-Regular.ttf') format('truetype');
    font-weight: "normal";
    font-size:"14px" /* Locate the .ttf file within your directory*/
  }

@font-face {
    font-family: 'ryeregular'; /* Name your font family */
    src: url('Fonts/Rye/Rye-Regular.ttf') format('truetype');
    font-weight: "normal";
    font-size:"14px" /* Locate the .ttf file within your directory*/
  }

@font-face {
    font-family: 'Kirang'; /* Name your font family */
    src: url('Fonts/Kirang_Haerang/KirangHaerang-Regular.ttf') format('truetype');
    font-weight: "normal";
    font-size:"14px" /* Locate the .ttf file within your directory*/
  }

  @font-face {
    font-family: 'Fredericka'; /* Name your font family */
    src: url('Fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf') format('truetype');
    font-weight: "normal";
    font-size:"14px" /* Locate the .ttf file within your directory*/
  }

@font-face {
    font-family: 'Bangers'; /* Name your font family */
    src: url('Fonts/Bangers/Bangers-Regular.ttf') format('truetype');
    font-weight: "normal";
    font-size:"14px" /* Locate the .ttf file within your directory*/
  }

@font-face {
    font-family: 'Amatic'; /* Name your font family */
    src: url('Fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
    font-weight: "normal";
    font-size:"14px" /* Locate the .ttf file within your directory*/
  }

  .loki {
    font-size: 12vw;
    position: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35rem;
    height: 40rem;
    margin-left: 90px;
    
    .letter{
       text-shadow: 0 0 0.2em #ffffffda, 0 0 0.2em #ffffffda;
      mix-blend-mode: screen;
    }
  }

  .music {
    position: absolute;
    right: 0;
    padding-right: 50px;
    margin-top: 50px;
  }
  
  .column {
    width: 50%;
    padding: 10px;}

  .container {
    height: 100%;
    width: 100%;  
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px; /* Gap between columns */
    padding: 20px;
    color: white;
    after {
      content: "";
      display: table;
      clear: both;};
  }

h2 {font-size:5vw;
  margin: 100px;
  margin-top: 50px;
  margin-bottom: -60px;
  color: #f9f9f9;
  font-family: 'magicalnotes';
}

h1 { font-size:16vw;
  margin:10px;
  margin-top: -40px;
  margin-bottom: -100px;
  color: #f9f9f9;
}

h3 {font-size:4.5vw;
  margin:70px;
  margin-top: 130px;
  text-align: right;
  color: #f9f9f9;
  font-family: 'magicalnotes'; /* Use the font family */
}

h4 {font-size:20vw;
  margin:50px;
  margin-top: -100px;
  margin-bottom: 30px;
  text-align: right;
  letter-spacing: 10px;
  color: #f9f9f9;
  font-family: 'Devant_Medium', sans-serif; /* Use the font family */
}

html, body {
    background-image: url('Fortune2_2844x1600.jpeg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow:none;
    border:none;
    filter: brightness(var(--brightness-level));
    color: white;
} 
